*.wig
*.bigwig
*.sam
*.bam
*.bed
*.bedgraph
*.bw
*.log
*.txt
*.csv
*.tsv
*.pyc

results/
data/
test/

.DS_Store
venv/
.venv/
__pycache__/

requirements.txt
!config
scripts/plot_signals_mer.py
!config/**